<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header(currentPage)" style="margin: 0" th:with="username = ${#ctx.session.username}">
    <!-- Start Main Header -->
    <header class="main-header">
        <!-- Start Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
            <div class="container">
                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu"
                            aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="home"><img src="images/logo.png" class="logo" alt=""></a>
                </div>
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                        <!--Trang chủ-->
                        <li th:classappend="${#strings.equals(currentPage, 'home')} ? 'active' : ''"
                            class="nav-item"><a class="nav-link" href="home">Trang chủ</a></li>

                        <!--Shop-->
                        <li th:classappend="${#strings.equals(currentPage, 'shop')} ? 'active' : ''"
                            class="nav-item"><a class="nav-link" href="shop">Cửa hàng</a></li>

                        <!--Về chúng tôi-->
                        <li th:classappend="${#strings.equals(currentPage, 'about')} ? 'active' : ''"
                            class="nav-item"><a class="nav-link" href="about">Về chúng tôi</a></li>

                        <!--Liên hệ-->
                        <li th:classappend="${#strings.equals(currentPage, 'contact')} ? 'active' : ''"
                            class="nav-item"><a class="nav-link" href="contact">Liên hệ</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->

                <!-- Start Atribute Navigation -->
                <div class="attr-nav">
                    <ul>
                        <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
                        <th:block th:if="${cart} != null">
                            <li class="side-menu">
                                <a href="cart">
                                    <i class="fa fa-shopping-bag"></i>
                                    <span class="badge">${cart.size()}</span>
                                    <p>Giỏ hàng</p>
                                </a>
                            </li>
                        </th:block>
                    </ul>
                </div>
                <!-- End Atribute Navigation -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class="dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                                <th:block th:if="${username != null}">
                                    <span th:text="${username}"></span>
                                </th:block>
                                <i class="fa fa-user" id="user"></i>
                            </a>
                            <ul class="dropdown-menu">

                                <th:block th:if="${username == null}">
                                    <li><a href="login"><strong>Đăng nhập</strong></a></li>
                                    <li><a href="register"><strong>Đăng ký</strong></a></li>
                                </th:block>
                                <th:block th:if="${username != null}">
                                    <li><a href="cart"><strong>Giỏ hàng</strong></a></li>
                                    <li><a href="#"><strong>Tài khoản</strong></a></li>
                                    <li><a href="logout"><strong>Đăng xuất</strong></a></li>
                                </th:block>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Start Side Menu -->
            <!--        <div class="side">-->
            <!--            <a href="#" class="close-side"><i class="fa fa-times"></i></a>-->
            <!--            <li class="cart-box">-->
            <!--                <ul class="cart-list" id="cartSmall">-->
            <!--                    <c:forEach items="${cart}" var="item" varStatus="index">-->
            <!--                        <c:set var="check"-->
            <!--                               value="${item.getProduct().getDiscountedPrice()==0||item.getProduct().getDiscountedPrice()==item.getProduct().getPrice()}"/>-->
            <!--                        <c:set var="price" value="0"/>-->
            <!--                        <c:if test="${check}">-->
            <!--                            <c:set var="price"-->
            <!--                                   value="${item.getProduct().getPrice()}"/>-->
            <!--                        </c:if>-->
            <!--                        <c:if test="${!check}">-->
            <!--                            <c:set var="price"-->
            <!--                                   value="${item.getProduct().getDiscountedPrice()}"/>-->
            <!--                        </c:if>-->
            <!--                        <li>-->
            <!--                            <a class="photo"><img src="${item.getProduct().getImages()[0]}" class="cart-thumb" alt=""/></a>-->
            <!--                            <h6><a href="#">${item.getProduct().getName()} </a></h6>-->
            <!--                            <p>${item.getQuantity()}x - <span class="price">${price}</span></p>-->
            <!--                        </li>-->
            <!--                    </c:forEach>-->
            <!--                    <%&#45;&#45;-->
            <!--                    <li class="total">&#45;&#45;%>-->
            <!--                        <a href="cart" class="btn btn-default hvr-hover btn-cart">VIEW CART</a>-->
            <!--                        <%&#45;&#45; <span class="float-right"><strong>Total</strong>: $180.00</span>&#45;&#45;%>-->
            <!--                        <%&#45;&#45;-->
            <!--                    </li>-->
            <!--                    &#45;&#45;%>-->
            <!--                </ul>-->
            <!--            </li>-->
            <!--        </div>-->
            <!-- End Side Menu -->
        </nav>
        <!-- End Navigation -->
    </header>
    <!-- End Main Header -->

    <!-- Start Top Search -->
    <div class="top-search">
        <div class="container">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" placeholder="Tìm kiếm">
                <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
            </div>
        </div>
    </div>
    <!-- End Top Search -->
</div>

<div th:fragment="footer">
    <footer>
        <div class="footer-main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-top-box">
                            <h3>Khung giờ kinh doanh</h3>
                            <ul class="list-time">
                                <li>Thứ Hai - Thứ Sáu: 08:00 đến 17:00</li>
                                <li>Thứ Bảy: 10:00 đến 20:00</li>
                                <li>Chủ nhật: <span>Đóng cửa</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-top-box">
                            <h3>Đăng ký nhận thông báo</h3>
                            <form class="newsletter-box">
                                <div class="form-group">
                                    <input class="" type="email" name="Email" placeholder="Email*"/>
                                    <i class="fa fa-envelope"></i>
                                </div>
                                <button class="btn hvr-hover" type="submit">Gửi</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-top-box">
                            <h3>Truyền thông xã hội</h3>
                            <ul>
                                <li><a href="https://facebook.com"><i class="fab fa-facebook"
                                                                      aria-hidden="true"></i></a>
                                </li>
                                <li><a href="https://twitter.com"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                                </li>
                                <li><a href="https://linkedin.com"><i class="fab fa-linkedin"
                                                                      aria-hidden="true"></i></a>
                                </li>
                                <li><a href="https://youtube.com"><i class="fab fa-youtube" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-widget">
                            <h4>Thông tin Freshshop</h4>
                            <p>Đây là project môn Lập trình web, bán đồ tươi</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link">
                            <h4>Thông tin</h4>
                            <ul>
                                <li><a href="#">Về chúng tôi</a></li>
                                <li><a href="#">Dịch vụ khách hàng</a></li>
                                <li><a href="#">Sơ đồ trang web của chúng tôi</a></li>
                                <li><a href="#">Điều khoản và điều kiện</a></li>
                                <li><a href="#">Chính sách bảo mật</a></li>
                                <li><a href="#">Thông tin giao hàng</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link-contact">
                            <h4>Liên hệ chúng tôi</h4>
                            <ul>
                                <li>
                                    <p><i class="fas fa-map-marker-alt"></i>Địa chỉ: Trường Đại học Nông Lâm TPHCM</p>
                                </li>
                                <li>
                                    <p><i class="fas fa-phone-square"></i>Điện thoại: <a href="tel:19005555">1900
                                        5555</a>
                                    </p>
                                </li>
                                <li>
                                    <p><i class="fas fa-envelope"></i>Email: <a href="mailto:nguyenvana@gmail.com">nguyenvana@gmail.com</a>
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer  -->

    <!-- Start copyright  -->
    <div class="footer-copyright">
        <p class="footer-company">All Rights Reserved. &copy; 2018 <a href="#">ThewayShop</a> Thiết kế bởi:
            <a href="https://html.design/">html design</a></p>
    </div>
    <!-- End copyright  -->
    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

    <div th:replace="~{::script}"></div>

</div>

<div th:fragment="link">
    <meta http-equiv="content-type" content="text/html" charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Fresh Shop</title>

    <!-- Site Icons -->
    <link rel="shortcut icon" th:href="@{images/favicon.ico}" type="image/x-icon">
    <link rel="apple-touch-icon" th:href="@{images/apple-touch-icon.png}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

    <!-- Site CSS -->
    <link rel="stylesheet" th:href="@{css/style.css}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" th:href="@{css/responsive.css}">
    <!-- Custom CSS -->
    <link rel="stylesheet" th:href="@{css/custom.css}">

    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js}"></script>

</div>

<div th:fragment="script">
    <!-- ALL JS FILES -->
    <script src="js/jquery-3.2.1.min.js" th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script src="js/popper.min.js" th:src="@{js/popper.min.js}"></script>
    <script src="js/bootstrap.min.js" th:src="@{js/bootstrap.min.js}"></script>
    <!-- ALL PLUGINS -->
    <script src="js/jquery.superslides.min.js" th:src="@{js/jquery.superslides.min.js}"></script>
    <script src="js/bootstrap-select.js" th:src="@{js/bootstrap-select.js}"></script>
    <script src="js/inewsticker.js" th:src="@{js/inewsticker.js}"></script>
    <script src="js/bootsnav.js" th:src="@{js/bootsnav.js}"></script>
    <script src="js/images-loded.min.js" th:src="@{js/images-loded.min.js}"></script>
    <script src="js/isotope.min.js" th:src="@{js/isotope.min.js}"></script>
    <script src="js/owl.carousel.min.js" th:src="@{js/owl.carousel.min.js}"></script>
    <script src="js/baguetteBox.min.js" th:src="@{js/baguetteBox.min.js}"></script>
    <script src="js/form-validator.min.js" th:src="@{js/form-validator.min.js}"></script>
    <script src="js/contact-form-script.js" th:src="@{js/contact-form-script.js}"></script>
    <script src="js/custom.js" th:src="@{js/custom.js}"></script>
    <script src="js/myjs.js" th:src="@{js/myjs.js}"></script>
</div>

